<div class="container">
    <div class="jumbotron">

        <!--Section: Team v.3-->
        <section class="section team-section pb-3">

            <!--Section heading-->
            <h4 class="section-heading h1 pt-4 text-center"> Made with <i class="fa fa-heartbeat" aria-hidden="true"></i> & <i class="fa fa-coffee" aria-hidden="true"></i></h4>
            <!--Section description-->
            <p class="section-description text-center">a MEAN stack application developped by roborics fsr members !</p>
            <div class="row mb-lg-4 center-on-small-only">
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row center-on-small-only">

                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-r">

                    <div class="col-md-6 float-left">
                        <div class="avatar">
                            <img style="height: 180px" src="assets/me.jpg" class="z-depth-1 img-fluid" alt="Fourth sample avatar image">
                        </div>
                    </div>

                    <div class="col-md-6 float-right">
                        <h4><strong>Aymano Kas</strong></h4>
                        <h6 class="font-bold grey-text mb-4">Club member</h6>
                        <p class="grey-text">
                            <--------------------------------------->
                        </p>
                        <p class="grey-text">
                            <--------------------------------------->
                        </p>
                        <p class="grey-text">
                            <--------------------------------------->
                        </p>


                        <a href="https://www.facebook.com/aymano.kas" class="icons-sm fb-ic"><i style="color:#3b5998;border-style: double;" class="fa fa-facebook"> </i></a>

                        <a href="https://twitter.com/AaymanoO" style="padding-left : 50px" class="icons-sm tw-ic"><i style="color :#0084b4;border-style: double;"  class="fa fa-twitter"> </i></a>

                        <a href="https://github.com/aymanokas" style="padding-left : 50px" class="icons-sm git-ic"><i style="color:black;border-style: double;" class="fa fa-github"> </i></a>
                    </div>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-r">
                    <div class="col-md-6 float-left">
                        <div class="avatar">
                            <img src="assets/aymen.jpg" class="z-depth-1 img-fluid" alt="Fifth sample avatar image">
                        </div>
                    </div>

                    <div class="col-md-6 float-right">
                        <h4><strong>Aymen Gr</strong></h4>
                        <h6 class="font-bold grey-text mb-4">Club member</h6>
                        <p class="grey-text">
                            <--------------------------------------->
                        </p>
                        <p class="grey-text">
                            <--------------------------------------->
                        </p>
                        <p class="grey-text">
                            <--------------------------------------->
                        </p>
                        <a href="https://www.facebook.com/aymengraoui" class="icons-sm fb-ic"><i style="color:#3b5998;border-style: double;" class="fa fa-facebook"> </i></a>
                        <a href="https://github.com/aymendeimos" style="padding-left : 50px" class="icons-sm git-ic"><i style="color:black;border-style: double;"  class="fa fa-github"> </i></a>
                    </div>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <p class="section-description text-center">App Components</p>
        <div class=" text-center">
            <a routerLink="/home"><button class="btn btn-sm btn-elegant">Home</button></a>
            <a routerLink="/show"><button class="btn btn-sm btn-elegant">Show</button></a>
            <a routerLink="/jury"><button class="btn btn-sm btn-elegant">Jury</button></a>
            <button class="btn btn-sm btn-elegant active">About</button>
        </div>
    </div>
</div>