/* You can add global styles to this file, and also import other style files */

body {
    background-color: #eceff1;
}

.btn-dyali-aqua {
    border-radius: 10em;
    background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
}

.btn-dyali-blue {
    border-radius: 10em;
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
}

.btn-dyali-purple {
    border-radius: 10em;
    background: linear-gradient(40deg, #ff6ec4, #7873f5) !important;
}

.btn-roun {
    border-radius: 10em;
}