.avatar {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin: -65px auto 0;
    overflow: hidden;
    border: 5px solid #fff;
}

.testimonial-card .card-up {
    overflow: hidden;
    height: 120px;
    border-radius: .3rem .3rem 0 0;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 20px;
}

h4 {
    font-size: 20px;
    padding-top: 10px
}

.btn-dyali1-aqua {
    background-color: #33b5e5 !important;
}

.btn-dyali2-aqua {
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
}

.btn-indigo {}