<h1 style="color:#3F729B" class="section-heading h1 pt-4 text-center">Competition Local de robotique </h1>
<div class=" text-center">
    <a routerLink="/show"><button class="btn btn-sm btn-dyali1-aqua">Show</button></a>
    <a routerLink="/jury"><button class="btn btn-sm btn-dyali2-aqua">Jury</button></a>
    <a routerLink="/goBackDude"><button class="btn btn-sm btn-indigo">About</button></a>
</div>
<div class="container">
    <div style="margin-bottom:10px!important;margin-top:20px!important;" class="divider-new">
        <h2 style="font-weight:bold;font-size:20px!important;color:#3F729B" class="text-center ">Responsable de la competition</h2>
    </div>
    <div class="text-center">
        <div class="row">
            <div class="col-md-4"></div>
            <div class=" col-md-4">

                <img style="height: 150px;" src="assets/isso2.jpg" class="img-fluid rounded z-depth-5">


            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div style="margin-bottom:10px!important;margin-top:40px!important;" class="divider-new">
        <h2 style="font-weight:bold;font-size:20px!important;color:#3F729B" class="text-center">Jury de la competition</h2>
    </div>
    <!--Section: Testimonials v.1-->
    <section class="section pb-3 text-center">


        <div class="row">

            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-r ">

                <!--Card-->
                <div class="card testimonial-card">

                    <!--Background color-->
                    <div class="card-up teal lighten-2">
                        <h4 class="card-title mt-1">Imran Nassim</h4>
                    </div>

                    <!--Avatar-->
                    <div class="avatar"><img src="assets/imran.jpg" class=" img-fluid rounded-circle img-responsive">
                    </div>


                </div>
                <!--Card-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-r">

                <!--Card-->
                <div class="card testimonial-card">

                    <!--Background color-->
                    <div class="card-up blue lighten-2">

                        <h4 class="card-title mt-1">Nohaila Naji</h4>

                    </div>

                    <!--Avatar-->
                    <div class="avatar"><img src="assets/noha.jpg" class="img-fluid rounded-circle img-responsive">
                    </div>


                </div>
                <!--Card-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-r">

                <!--Card-->
                <div class="card testimonial-card">

                    <!--Background color-->
                    <div class="card-up deep-purple lighten-2">
                        <h4 class="card-title mt-1">Aymen Gr</h4>

                    </div>

                    <!--Avatar-->
                    <div class="avatar"><img src="assets/aymen2.jpeg" class=" img-fluid rounded-circle img-responsive">
                    </div>


                </div>
                <!--Card-->

            </div>
            <!--Grid column-->

        </div>

    </section>
    <!--Section: Testimonials v.1-->

</div>